ul
    display flex
    justify-content center
    align-items center
    height auto
    width 100%

ul p
    margin-right 10%
    margin-left 10%
    cursor pointer
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    padding 10px
    border-radius 5px
    cursor pointer

h1
    font-size large
    cursor pointer